{% extends "layout/base.html" %}
{% load static %}


{% block app_css %}
    <link rel="stylesheet" type="text/css" href="{% static "vendors/data-tables/datatables.css" %}"/>

{% endblock app_css %}

{% block breadcumb %}
    <ol class="breadcrumb">
        {% for link,name in breadcumbs %}
            <li class="breadcrumb-item">{{ name }}</li>
        {% endfor %}
    </ol>
{% endblock breadcumb %}


{% block app_script %}
    <script type="text/javascript" charset="utf8"
            src="{% static "vendors/data-tables/datatables.min.js" %}"></script>
    <script>
        $("#data_master").addClass("active")

        $(document).ready(function () {
            $('#data_table').DataTable({
                sort: false
            });
        });

        function detail(data) {
            location.href = "{% url 'kelas-pelajar' %}?kelas=" + data;
        }
    </script>

{% endblock app_script %}


{% block container %}
    <!-- /.row-->
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-header">Jenis Kelas</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">

                            <div class="row">
                                <div class="col-lg-2 col-sm-2">
                                    <div class="callout callout-info">
                                        <small class="text-muted">Kelas</small>
                                        <br>
                                        <strong class="h4">{{ studentClassDataCount }}</strong>
                                        <div class="chart-wrapper">
                                            <canvas id="sparkline-chart-1" width="100" height="30"></canvas>
                                        </div>
                                    </div>
                                </div>


                                <!-- /.col-->
                            </div>
                            <hr class="mt-0">


                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <i class="fa fa-align-justify"></i> Daftar Team
                                        </div>
                                        <div class="card-body">
                                            <div class="card-body">
                                                <table id="data_table"
                                                       class="table table-responsive-sm table-sm table-hover">
                                                    <thead>

                                                    <tr>
                                                        <th>Hari</th>
                                                        <th>Kelas</th>
                                                        <th>Mulai</th>
                                                        <th>Selesai</th>
                                                        <th>Mat Pelajaran</th>
                                                        <th>Team</th>

                                                    </tr>


                                                    </thead>
                                                    <tbody>
                                                    {% for datum in data %}
                                                        <tr class='clickable-row' onclick="detail({{ datum.pk }})">
                                                            <td>
                                                                {% ifequal datum.time_id.day 0 %}
                                                                    Minggu
                                                                {% endifequal %}

                                                                {% ifequal datum.time_id.day 1 %}
                                                                    Senin
                                                                {% endifequal %}
                                                                {% ifequal datum.time_id.day 2 %}
                                                                    Selasa
                                                                {% endifequal %}
                                                                {% ifequal datum.time_id.day 3 %}
                                                                    Rabu
                                                                {% endifequal %}
                                                                {% ifequal datum.time_id.day 4 %}
                                                                    Kamis
                                                                {% endifequal %}
                                                                {% ifequal datum.time_id.day 5 %}
                                                                    Jumat
                                                                {% endifequal %}
                                                                {% ifequal datum.time_id.day 6 %}
                                                                    Sabtu
                                                                {% endifequal %}


                                                            </td>
                                                            <td>
                                                                {{ datum.classRoomId.class_name }}
                                                            </td>

                                                            <td>
                                                                {{ datum.time_id.hour_start }}
                                                            </td>
                                                            <td>
                                                                {{ datum.time_id.hour_stop }}
                                                            </td>
                                                            <td>
                                                                {{ datum.subject_id.name }}
                                                            </td>
                                                            <td>
                                                                {{ datum.teamTeaching_id.name }}
                                                            </td>

                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>


        </div>
    </div>

{% endblock container %}