{% extends "layout/base.html" %}
{% load static %}


{% block app_css %}
    <link rel="stylesheet" type="text/css" href="{% static "vendors/data-tables/datatables.css" %}"/>
{% endblock app_css %}



{% block breadcumb %}
    <ol class="breadcrumb">
        {% for link,name in breadcumbs %}
            <li class="breadcrumb-item">{{ name }}</li>
        {% endfor %}
    </ol>
{% endblock breadcumb %}


{% block app_script %}
    <script type="text/javascript" charset="utf8"
            src="{% static "vendors/data-tables/datatables.min.js" %}"></script>
    <script>
        $("#data_master").addClass("active")

        $(document).ready(function () {
            $('#data_table').DataTable();
        });

        function lihatAnggota(pk) {
            location.href = "{% url 'dt-team-teaching' %}?id=" + pk
        }
    </script>

{% endblock app_script %}


{% block container %}
    <!-- /.row-->
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-header">Team Teaching</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">

                            <div class="row">
                                <div class="col-lg-4 col-sm-4">
                                    <div class="callout callout-info">
                                        <small class="text-muted">Team Teaching</small>
                                        <br>
                                        <strong class="h4">{{ teamCount }}</strong>
                                        <div class="chart-wrapper">
                                            <canvas id="sparkline-chart-1" width="100" height="30"></canvas>
                                        </div>
                                    </div>
                                </div>


                                <!-- /.col-->
                            </div>
                            <hr class="mt-0">


                            <div class="row">
                                <div class="col">
                                    <button type="button" class="btn btn-success"
                                            data-toggle="modal"
                                            data-target="#modalTambah">
                                        <i class="fa fa-plus"></i> Tambah Team Teaching
                                    </button>

                                </div>
                            </div>
                            <br/>
                            <hr class="mt-0">


                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <i class="fa fa-align-justify"></i> Daftar Team
                                        </div>
                                        <div class="card-body">
                                            <table id="data_table"
                                                   class="table table-responsive-sm table-sm">
                                                <thead>

                                                <tr>
                                                    <th>Team</th>
                                                    <th>Pelajaran</th>
                                                    <th>Aksi</th>
                                                </tr>


                                                </thead>
                                                <tbody>
                                                {% for team in teamData %}
                                                    <tr>
                                                        <td>{{ team.name }} </td>
                                                        <td>{{ team.subjectId.name }} </td>
                                                        <td>

                                                            {#Edit Team Teaching#}
                                                            <button class="btn btn-sm btn-ghost-primary"
                                                                    data-toggle="modal"
                                                                    data-target="#modalEditTeam{{ team.pk }}">
                                                                <i class="fa fa-edit"></i> Edit
                                                            </button>

                                                            {#Lihat Anggota#}
                                                            <button onclick="lihatAnggota({{ team.pk }})"
                                                                    class="btn btn-sm btn-ghost-warning">
                                                                <i class="fa fa-eye"></i> Anggota
                                                            </button>


                                                            {#  Modal Edit Team Teaching  #}
                                                            <div class="modal fade" id="modalEditTeam{{ team.pk }}"
                                                                 tabindex="-1"
                                                                 role="dialog"
                                                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                                <div class="modal-dialog" role="document">
                                                                    <div class="modal-content">
                                                                        <form method="post"
                                                                              action="{% url 'update-teaching' %}">
                                                                            <div class="modal-header">
                                                                                <h5 class="modal-title"
                                                                                    id="exampleModalLabel">Registrasi
                                                                                    Pelajar</h5>
                                                                                <button type="button" class="close"
                                                                                        data-dismiss="modal"
                                                                                        aria-label="Close">
                                                                                    <span aria-hidden="true">&times;</span>
                                                                                </button>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                {% csrf_token %}
                                                                                <div class="form-group">
                                                                                    <input class="form-control"
                                                                                           id="teamPk" name="teamPk"
                                                                                           type="hidden" required
                                                                                           value="{{ team.pk }}">
                                                                                    <label for="timeStart">Nama
                                                                                        Team</label>
                                                                                    <input class="form-control"
                                                                                           id="teamName" name="teamName"
                                                                                           type="text" required
                                                                                           value="{{ team.name }}">
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label for="subjectPk">Pelajaran</label>
                                                                                    <select id="subjectPk"
                                                                                            name="subjectPk"
                                                                                            class="form-control select2"
                                                                                            required
                                                                                    >
                                                                                        {% for subjectData in subject %}
                                                                                            {% ifequal subjectData.pk team.subjectId.pk %}
                                                                                                <option value="{{ subjectData.pk }}"
                                                                                                        selected>{{ subjectData.name }}</option>
                                                                                            {% else %}
                                                                                                <option value="{{ subjectData.pk }}">{{ subjectData.name }}</option>
                                                                                            {% endifequal %}

                                                                                        {% endfor %}
                                                                                    </select>

                                                                                </div>
                                                                            </div>
                                                                            <div class="modal-footer">
                                                                                <button type="button"
                                                                                        class="btn btn-secondary"
                                                                                        data-dismiss="modal">
                                                                                    Close
                                                                                </button>
                                                                                <button class="btn btn-success"
                                                                                        type="submit"
                                                                                        onclick="return confirm('Data akan disimpan, Lanjutkan?');"
                                                                                        aria-expanded="false"
                                                                                        aria-controls="collapseExample">
                                                                                    <i class="fa fa-save"></i> Simpan
                                                                                </button>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            {#  Modal Delete #}
                                                            <a href="{% url "drop-teaching" %}?teamPk={{ team.pk }}"
                                                               class="btn btn-sm btn-ghost-danger"
                                                               onclick="return confirm('Data akan dihapus, Lanjutkan?');">
                                                                <i class="fa fa-trash"></i> Hapus
                                                            </a>
                                                        </td>
                                                    </tr>

                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>


    {#  Modal Tambah Team Teaching  #}
    <div class="modal fade" id="modalTambah" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form method="post" action="{% url 'store-teaching' %}">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Registrasi Pelajar</h5>
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {% csrf_token %}
                        <div class="form-group">
                            <input class="form-control" id="deptId" name="deptId"
                                   type="hidden" required
                                   value="{{ deptId }}">
                            <label for="timeStart">Nama Team</label>
                            <input class="form-control" id="teamName" name="teamName"
                                   type="text" required
                                   placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="shiftId">Pelajaran</label>
                            <select id="subjectPk"
                                    name="subjectPk"
                                    class="form-control select2"
                                    required
                            >
                                {% for subjectData in subject %}
                                    <option value="{{ subjectData.pk }}">{{ subjectData.name }}</option>
                                {% endfor %}
                            </select>

                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"
                                data-dismiss="modal">
                            Close
                        </button>
                        <button class="btn btn-success" type="submit"
                                data-toggle="collapse"
                                onclick="return confirm('Data akan ditambahkan, Lanjutkan?');"
                                data-target="#collapseExample" aria-expanded="false"
                                aria-controls="collapseExample">
                            <i class="fa fa-save"></i> Simpan
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock container %}