{% extends "layout/base.html" %}
{% load static %}


{% block app_css %}
    <link rel="stylesheet" type="text/css" href="{% static "vendors/data-tables/datatables.css" %}"/>

{% endblock app_css %}

{% block breadcumb %}
    <ol class="breadcrumb">
        {% for link,name in breadcumbs %}
            <li class="breadcrumb-item"><a href="{{ link }}">{{ name }}</a></li>
        {% endfor %}
    </ol>
{% endblock breadcumb %}


{% block app_script %}
    <script type="text/javascript" charset="utf8"
            src="{% static "vendors/data-tables/datatables.min.js" %}"></script>
    <script>
        $("#data_master").addClass("active")

        $(document).ready(function () {
            $('#data_table').DataTable();
        });
    </script>

{% endblock app_script %}


{% block container %}
    <!-- /.row-->
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-header">Penawaran Mata Pelajaran</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">

                            <div class="row">
                                <div class="col-lg-2 col-sm-2">
                                    <div class="callout callout-info">
                                        <small class="text-muted">Penawaran Mat Pel</small>
                                        <br>
                                        <strong class="h4">{{ subjectOfferCount }}</strong>
                                        <div class="chart-wrapper">
                                            <canvas id="sparkline-chart-1" width="100" height="30"></canvas>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.col-->
                            </div>
                            <hr class="mt-0">


                            <div class="row">
                                <div class="col">
                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                            data-target="#modalTambah">
                                        <i class="fa fa-plus"></i> Tambah Shift
                                    </button>

                                </div>
                            </div>
                            <br/>
                            <hr class="mt-0">


                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <i class="fa fa-align-justify"></i> Daftar Penawaran Mata Pelajaran
                                        </div>
                                        <div class="card-body">
                                            <table id="data_table"
                                                   class="table table-responsive-sm table-sm">
                                                <thead>

                                                <tr>
                                                    <th>ID</th>
                                                    <th>Mat Pelajaran</th>
                                                    <th>Kelas</th>
                                                    <th>Hari</th>
                                                    <th>Mulai</th>
                                                    <th>Selesai</th>
                                                    <th>Team</th>
                                                    <th>Aksi</th>
                                                </tr>


                                                </thead>
                                                <tbody>
                                                {% for datum in data %}
                                                    <tr>
                                                        <td>{{ datum.id }}</td>
                                                        <td>
                                                            {{ datum.subject_id.name }}
                                                        </td>
                                                        <td>
                                                            {{ datum.classRoomId.class_name }}
                                                        </td>
                                                        <td>

                                                            {% ifequal datum.time_id.day 0 %}
                                                                Minggu
                                                            {% endifequal %}

                                                            {% ifequal datum.time_id.day 1 %}
                                                                Senin
                                                            {% endifequal %}
                                                            {% ifequal datum.time_id.day 2 %}
                                                                Selasa
                                                            {% endifequal %}
                                                            {% ifequal datum.time_id.day 3 %}
                                                                Rabu
                                                            {% endifequal %}
                                                            {% ifequal datum.time_id.day 4 %}
                                                                Kamis
                                                            {% endifequal %}
                                                            {% ifequal datum.time_id.day 5 %}
                                                                Jumat
                                                            {% endifequal %}
                                                            {% ifequal datum.time_id.day 6 %}
                                                                Sabtu
                                                            {% endifequal %}


                                                        </td>
                                                        <td>
                                                            {{ datum.time_id.hour_start }}
                                                        </td>
                                                        <td>
                                                            {{ datum.time_id.hour_stop }}
                                                        </td>
                                                        <td>
                                                            {{ datum.teamTeaching_id.name }}
                                                        </td>
                                                        <td>
                                                            <button class="btn btn-sm btn-ghost-success"
                                                                    data-toggle="modal"
                                                                    data-target="#modalUbah{{ datum.pk }}">
                                                                <i class="fa fa-edit"></i> Edit
                                                            </button>


                                                            {#  Modal Ubah Schedule  #}
                                                            <div class="modal fade" id="modalUbah{{ datum.pk }}"
                                                                 tabindex="-1"
                                                                 role="dialog"
                                                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                                <div class="modal-dialog" role="document">
                                                                    <div class="modal-content">
                                                                        <form method="post"
                                                                              action="{% url 'update-penawaran' %}">
                                                                            <div class="modal-header">
                                                                                <h5 class="modal-title"
                                                                                    id="exampleModalLabel">Register
                                                                                    Penawaran Pelajaran</h5>
                                                                                <button type="button" class="close"
                                                                                        data-dismiss="modal"
                                                                                        aria-label="Close">
                                                                                    <span aria-hidden="true">&times;</span>
                                                                                </button>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                {% csrf_token %}
                                                                                <div class="form-group">
                                                                                    <input class="form-control"
                                                                                           id="subjectOfferPk" name="subjectOfferPk"
                                                                                           type="hidden" required
                                                                                           value="{{ datum.pk }}">
                                                                                    <label for="teamTeachingPk">Team
                                                                                        Pengajar</label>
                                                                                    <select id="teamTeachingPk"
                                                                                            name="teamTeachingPk"
                                                                                            class="form-control"
                                                                                            required
                                                                                    >
                                                                                        {% for teacherData in teamTeachingData %}

                                                                                            {% ifequal teacherData.pk datum.teamTeaching_id_id %}
                                                                                                <option value="{{ teacherData.pk }}"
                                                                                                        selected>{{ teacherData.name }}</option>
                                                                                            {% else %}
                                                                                                <option value="{{ teacherData.pk }}">{{ teacherData.name }}</option>
                                                                                            {% endifequal %}



                                                                                        {% endfor %}
                                                                                    </select>

                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label for="subjectPk">Mata
                                                                                        Pelajaran</label>
                                                                                    <select id="subjectPk"
                                                                                            name="subjectPk"
                                                                                            class="form-control"
                                                                                            required
                                                                                    >
                                                                                        {% for subjectData in subjectOfferData %}
                                                                                            {% ifequal subjectData.pk datum.subject_id_id %}
                                                                                                <option value="{{ subjectData.pk }}"
                                                                                                        selected>{{ subjectData.name }}</option>
                                                                                            {% else %}
                                                                                                <option value="{{ subjectData.pk }}">{{ subjectData.name }}</option>
                                                                                            {% endifequal %}
                                                                                        {% endfor %}
                                                                                    </select>

                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label for="shiftId">Ruang</label>
                                                                                    <select id="classPk"
                                                                                            name="classPk"
                                                                                            class="form-control"
                                                                                            required
                                                                                    >
                                                                                        {% for ruangData in dataRuang %}
                                                                                            {% ifequal ruangData.pk datum.classRoomId_id %}
                                                                                                <option value="{{ ruangData.pk }}"
                                                                                                        selected>{{ ruangData.class_name }}</option>
                                                                                            {% else %}
                                                                                                <option value="{{ ruangData.pk }}">{{ ruangData.class_name }}</option>
                                                                                            {% endifequal %}


                                                                                        {% endfor %}
                                                                                    </select>

                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label for="jamPk">Jam
                                                                                        Pelajaran</label>
                                                                                    <select id="jamPk"
                                                                                            name="jamPk"
                                                                                            class="form-control"
                                                                                            required
                                                                                    >
                                                                                        {% for jamPelajaran in jamPelajaranData %}
                                                                                            {% for day in daySelect %}
                                                                                                {% ifequal day.0 jamPelajaran.day %}

                                                                                                    {% ifequal jamPelajaran.pk datum.time_id_id %}
                                                                                                        <option value="{{ jamPelajaran.pk }}"
                                                                                                                selected>{{ day.1 }} {{ jamPelajaran.hour_start }}
                                                                                                            - {{ jamPelajaran.hour_stop }}</option>
                                                                                                    {% else %}
                                                                                                        <option value="{{ jamPelajaran.pk }}">{{ day.1 }} {{ jamPelajaran.hour_start }}
                                                                                                            - {{ jamPelajaran.hour_stop }}</option>
                                                                                                    {% endifequal %}



                                                                                                {% endifequal %}
                                                                                            {% endfor %}
                                                                                        {% endfor %}
                                                                                    </select>

                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label for="semesterData">Semester</label>
                                                                                    <input class="form-control"
                                                                                           id="semesterData"
                                                                                           name="semesterData"
                                                                                           type="text" required
                                                                                           placeholder=""
                                                                                           value="{{ datum.semester }}">
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label for="schoolYear">Tahun
                                                                                        Ajaran</label>
                                                                                    <input class="form-control"
                                                                                           id="schoolYear"
                                                                                           name="schoolYear"
                                                                                           type="text" required
                                                                                           placeholder=""
                                                                                           value="{{ datum.school_year }}">
                                                                                </div>
                                                                            </div>
                                                                            <div class="modal-footer">
                                                                                <button type="button"
                                                                                        class="btn btn-secondary"
                                                                                        data-dismiss="modal">
                                                                                    Close
                                                                                </button>
                                                                                <button class="btn btn-success"
                                                                                        type="submit"
                                                                                        data-toggle="collapse"
                                                                                        data-target="#collapseExample"
                                                                                        aria-expanded="false"
                                                                                        aria-controls="collapseExample">
                                                                                    <i class="fa fa-save"></i> Simpan
                                                                                </button>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            {#  Modal Delete #}
                                                            <a href="{% url 'drop-penawaran' %}?subjectOfferPk={{ datum.pk }}"
                                                               class="btn btn-sm btn-ghost-danger"
                                                               onclick="return confirm('Data akan dihapus, Lanjutkan?');">
                                                                <i class="fa fa-trash"></i> Hapus
                                                            </a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>


        </div>
    </div>


    {#  Modal Tambah Jam  #}
    <div class="modal fade" id="modalTambah" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form method="post" action="{% url 'store-penawaran' %}">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Register Penawaran Pelajaran</h5>
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {% csrf_token %}
                        <div class="form-group">
                            <input class="form-control" id="deptId" name="deptId"
                                   type="hidden" required
                                   value="{{ deptId }}">
                            <label for="teamTeachingPk">Team Pengajar</label>
                            <select id="teamTeachingPk"
                                    name="teamTeachingPk"
                                    class="form-control"
                                    required
                            >
                                {% for teacherData in teamTeachingData %}
                                    <option value="{{ teacherData.pk }}">{{ teacherData.name }}</option>
                                {% endfor %}
                            </select>

                        </div>
                        <div class="form-group">
                            <label for="subjectPk">Mata Pelajaran</label>
                            <select id="subjectPk"
                                    name="subjectPk"
                                    class="form-control"
                                    required
                            >
                                {% for subjectData in subjectOfferData %}
                                    <option value="{{ subjectData.pk }}">{{ subjectData.name }}</option>
                                {% endfor %}
                            </select>

                        </div>
                        <div class="form-group">
                            <label for="shiftId">Ruang</label>
                            <select id="classPk"
                                    name="classPk"
                                    class="form-control"
                                    required
                            >
                                {% for ruangData in dataRuang %}
                                    <option value="{{ ruangData.pk }}">{{ ruangData.class_name }}</option>
                                {% endfor %}
                            </select>

                        </div>
                        <div class="form-group">
                            <label for="jamPk">Jam Pelajaran</label>
                            <select id="jamPk"
                                    name="jamPk"
                                    class="form-control"
                                    required
                            >
                                {% for jamPelajaran in jamPelajaranData %}
                                    {% for day in daySelect %}
                                        {% ifequal day.0 jamPelajaran.day %}
                                            <option value="{{ jamPelajaran.pk }}">{{ day.1 }} {{ jamPelajaran.hour_start }}
                                                - {{ jamPelajaran.hour_stop }}</option>
                                        {% endifequal %}
                                    {% endfor %}
                                {% endfor %}
                            </select>

                        </div>
                        <div class="form-group">
                            <label for="semesterData">Semester</label>
                            <input class="form-control" id="semesterData" name="semesterData"
                                   type="text" required
                                   placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="schoolYear">Tahun Ajaran</label>
                            <input class="form-control" id="schoolYear" name="schoolYear"
                                   type="text" required
                                   placeholder="">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"
                                data-dismiss="modal">
                            Close
                        </button>
                        <button class="btn btn-success" type="submit"
                                data-toggle="collapse"
                                data-target="#collapseExample" aria-expanded="false"
                                aria-controls="collapseExample">
                            <i class="fa fa-save"></i> Simpan
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock container %}